body {
    background-color: antiquewhite;
}
.div {
    position: absolute;
    width: 817px;
    height: 516px;
    border-radius: 35px;
    background-color: aliceblue;
    margin-top: 100px;
    margin-left: 300px;
}
.lift {
    position: absolute;
    width: 408px;
    height: 516px;
    background-color: #FFB24B;
    border-radius: 35px 150px 150px 35px;
}
.h1{
    font-family: sans-serif;
    color: aliceblue;
    text-align: center;
    margin-top: 180px;
}
.pragreft {
    color: aliceblue;
    font-family: sans-serif;
    width: 325px;
    text-align: center;
    margin-left: 40px;
}
.button{
    margin-left: 140px;
    color: aliceblue;
    background-color: #FF9200;
    width: 110px;
    height: 35px;
    border-radius: 8px;
    margin-top: 20px;
    border:    1px solid seashell;
}
.h11{
    font-size: 40px;
    margin-left: 460px;
    font-family: sans-serif;
    margin-top: 80px;
}
.input1{
    position: absolute;
    margin-left: 520px;
    width: 38px;
    height: 38px;
    border-radius: 8px;
    border: 2px solid  rgb(115, 110, 110);
}
.input2{
    position: absolute;
    margin-left: 580px;
    width: 38px;
    height: 38px;
    border-radius: 8px;
    border: 2px solid  rgb(115, 110, 110);
}
.input3{
    position: absolute;
    margin-left: 640px;
    width: 38px;
    height: 38px;
    border-radius: 8px;
  
    border: 2px solid  rgb(115, 110, 110);
}
.p1{
    color: rgb(110, 113, 116);
    margin-top: 80px;
    margin-left: 480px;
}
.input4{
   width: 321px;
  
   border-radius: 8px; 
   background-color: #EEEEEE;
   margin-left: 440px;
   padding: 15px;
   border: 1px solid rgb(97, 97, 99);
}
.input5{
    width: 321px;
    margin-top: 10px;
    border-radius: 8px; 
    background-color: #EEEEEE;
    margin-left: 440px;
    padding: 15px;
    border: 1px solid rgb(97, 97, 99);
 }
 .input6{
    width: 321px;
    margin-top: 10px;
    border-radius: 8px; 
    background-color: #EEEEEE;
    margin-left: 440px;
    padding: 15px;
    border: 1px solid rgb(97, 97, 99);
 }
 .button1{
    margin-left: 540px;
    color: aliceblue;
    background-color: black;
    width: 120px;
    height: 38px;
    border-radius: 8px;
    margin-top: 20px;
    border:    1px solid seashell;
 }