doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.css")
    title Document
  body
    header.header
      .box
        h1
          | Sign In
        img(src="./Frame Sign With.svg", alt="")
        p or use your email password
        input(type="text", style="border:none;", placeholder="email")
      div
        .rasm
          img(src="./Rectangle 3.svg", alt="")
        div
          input.in(style="border:none;", type="text", placeholder="password")
          p.p Forgot Your
            a(href="") Password?
          button.btn SIGN IN
      .boxx
        h1 Hello, Hotelier!
        p Register with your personal account to use this  apps
        button.btnn SIGN UP
